<p id="notice"><%= notice %></p>

<p>
  <b>Status confirmacao doador:</b>
  <%= @status_confirmacao_doador.status_confirmacao_doador %>
</p>


<%= link_to 'Edit', edit_status_confirmacao_doador_path(@status_confirmacao_doador) %> |
<%= link_to 'Back', status_confirmacao_doadores_path %>
