<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @adotando.perfil.nome %>!</h1>
    <p>
      A confirmação de doacão do animal foi feita pelo doador responsável, para que o processo seja finalizado
      pelo ACEG, é necessário que seja feita sua confirmacão de adocão o quanto antes.
      
      ACEG agradece sua iniciativa.
    </p>

  </body>
</html>