<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Parabéns,+ <%= @usuario.perfil.nome %> +!</h1>
    <p>
      Seu animal disponível para adoção foi adotado.
    </p>
	<p>
		<%= @msg %>
	</p>
	<a href=<%= @link_doador %> target='_blank' >Confirmação doação</a>
  </body>
</html>