<p id="notice"><%= notice %></p>

<p>
  <b>Status adotando:</b>
  <%= @status_adotando.status_adotando %>
</p>


<%= link_to 'Edit', edit_status_adotando_path(@status_adotando) %> |
<%= link_to 'Back', status_adotandos_path %>
