<p id="notice"><%= notice %></p>

<p>
  <b>Tipo animal:</b>
  <%= @tipo_animal.tipo_animal %>
</p>


<%= link_to 'Edit', edit_tipo_animal_path(@tipo_animal) %> |
<%= link_to 'Back', tipo_animais_path %>
