<p id="notice"><%= notice %></p>

<p>
  <b>Porte animal:</b>
  <%= @porte_animal.porte_animal %>
</p>


<%= link_to 'Edit', edit_porte_animal_path(@porte_animal) %> |
<%= link_to 'Back', porte_animais_path %>
