<p id="notice"><%= notice %></p>

<p>
  <b>Vigencia:</b>
  <%= @vigencia_ofertum.vigencia %>
</p>


<%= link_to 'Edit', edit_vigencia_ofertum_path(@vigencia_ofertum) %> |
<%= link_to 'Back', vigencia_oferta_path %>
