<p id="notice"><%= notice %></p>

<p>
  <b>Status confirmacao adotando:</b>
  <%= @status_confirmacao_adotando.status_confirmacao_adotando %>
</p>


<%= link_to 'Edit', edit_status_confirmacao_adotando_path(@status_confirmacao_adotando) %> |
<%= link_to 'Back', status_confirmacao_adotandos_path %>
