<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @oferta_voluntariado_candidato.oferta_voluntariado.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @oferta_voluntariado_candidato.oferta_voluntariado.descricao %>
</p>

<p>
  <b>Candidato:</b>
  <%= @oferta_voluntariado_candidato.usuario.perfil.nome %>
</p>
