<p id="notice"><%= notice %></p>

<p>
  <b>Tipo perfil:</b>
  <%= @tipo_perfil.tipo_perfil %>
</p>


<%= link_to 'Edit', edit_tipo_perfil_path(@tipo_perfil) %> |
<%= link_to 'Back', tipo_perfis_path %>
