<p id="notice"><%= notice %></p>

<p>
  <b>Status animal:</b>
  <%= @status_animal.status_animal %>
</p>


<%= link_to 'Edit', edit_status_animal_path(@status_animal) %> |
<%= link_to 'Back', status_animais_path %>
